---
const { className } = Astro.props;
import config from "@/config/config.json";

export interface IEducation {
  degree: string;
  institution: string;
  period: string;
  details: string;
}


---
<section class={className} id="education">
  <div class="rounded border border-border p-12 lg:p-9 h-full">
    <ul class="flex items-center space-x-4">
      <h4 class="text-primary">Education</h4>
    </ul>
    <p class="my-4">
    <ul class="space-y-6">
      {config.curriculum.education.map((edu: IEducation) => (
        <li class=" border-border ">
          <h6 class="">{edu.degree}</h6>
          <p class="text-muted-foreground">
            {edu.institution} ({edu.period})
          </p>
        </li>
      ))}
    </ul>
    </p>
  </div>
</section>
