---
const { className } = Astro.props
import keys from '@/config/keys.json'
---

<section
    class={className}
    id="keys"
>
    <div class="rounded border border-border p-12 lg:p-9 h-full">
        <ul class="flex items-center space-x-4">
            <h4 class="text-primary">{keys.title}</h4>
        </ul>
        <p class="my-4">
            {keys.list.map((key) => <li class="my-5">{key}</li>)}
        </p>
    </div>
</section>
