---
const { className } = Astro.props
import overview from '@/config/overview.json'
---

<section
    class={className}
    id="overview"
>
    <div class="rounded border border-border p-12 lg:p-9 h-full">
        <ul class="flex items-center space-x-4">
            <h4 class="text-primary">{overview.title}</h4>
        </ul>
        <p class="my-4">{overview.description}</p>
    </div>
</section>
