---
const { skillType, skillList } = Astro.props;
import config from "@/config/config.json";
---
    <p class="text-primary my-4">{skillType}</p>
    <p class="my-4">
    {
    skillList.map((skill: String) => (
      <li style="">{skill}
      </li>
      <br/>
    ))
  }
  </p>
