---
const { className } = Astro.props
import skills from '@/config/skills.json'
---
<section
    class={className}
    id="skills"
>
    <div class="rounded border border-border p-12 lg:p-9 h-full">
        <ul class="flex items-center space-x-4">
            <h4 class="text-primary">{skills.title}</h4>
        </ul>
        {
        skills.list.map((s) => (
            <p class="text-primary my-4">{s.title}</p>
            <p class="my-4">
                {s.list.map((skill: String) => <li class="mb-5">{skill}</li>)}
                <p class="h-2"></p>
            </p>
                ))
        }
    </div>
</section>
